head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#")
  meta(charset="utf-8")
  meta(name="robots" content="all")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="format-detection" content="telephone=no")
  title CANVAS EVE -β-
  meta(name="keywords" content="")
  meta(
    name="description"
    content="The CANVAS EVE will help you assist in your daily works, especially for those of you who are engaging in creating. Pasting any images, 3D models, text files, PDFs and many other stuffs to the canvas, and use it as references."
  )
  meta(name="author" content="NkiHrk")
  meta(name="copyright" content="&copy; NkiHrk")
  meta(property="og:title" content="CANVAS EVE -β-")
  meta(property="og:type" content="website")
  meta(
    property="og:description"
    content="The CANVAS EVE will help you assist in your daily works, especially for those of you who are engaging in creating."
  )
  meta(property="og:url" content="https://nkihrk.github.io")
  meta(property="og:site_name" content="NkiHrk.github.io")
  meta(
    property="og:image"
    content="https://nkihrk.github.io/img/common/canvas_eve_ogp.png"
  )
  meta(property="og:locale" content="en_US")

  // Twitter
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:site" content="@QU00h")

  // Facebook
  meta(property="fb:app_id" content="480666636053173")
  meta(property="og:image:width" content="1200")
  meta(property="og:image:height" content="630")

  link(rel="stylesheet" href="https://use.typekit.net/kqb4obi.css")